@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --hero3_title: 5rem;
  --hero3_title__mobile: 3rem;
  --hero3_text: 1.2rem;
  --gold: #ffd700;
}

.hero3-container {
  background-image: url("../../public/images/heroBackground5Dark.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  display: flex;
  max-width: 100%; /* Add overflow hidden when finished */
}
.hero3-content {
  color: white;
  max-width: 800px;
  margin-left: 45%;
  margin-top: 5%;
}
.hero3-title {
  font-size: var(--hero2_title);
  font-family: "Baskervville", serif;
}

.hero3-paragraph {
  max-width: 600px;
  font-size: var(--hero2_text);
  font-family: "Poppins", sans-serif;
}
.hero3-buttons {
  margin-top: 3em;
  display: flex;
  gap: 2em;
}
