@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");

:root {
  --gold: #ffd700;
  --white: #ffffff;
}

.button {
  display: block;
  width: fit-content;
  text-decoration: none;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 2em;
  padding-right: 2em;
  font-family: "Baskervville", serif;
  color: white;
}
.button:hover {
  cursor: pointer;
}
.primary {
  background-color: var(--gold);
  color: black;
}
.secondary {
  background-color: none !important;
  color: white;
  border: solid 1px var(--gold);
}

.small {
  font-size: 0.75rem;
}
.medium {
  font-size: 1rem;
}

.large {
  font-size: 1.25rem;
}
